version: '3'
services:
  web:
    depends_on:
      - mongodb
    image: vex
    container_name: vex-web
    ports:
    # 3000:3000
      - "7310:3005"
    environment:
      - DOCKER=true
      - JWT_SECRET_FILE=/run/secrets/jwt_secret
      - SUPERADMIN_DEFAULT_PASSWORD=${SUPERADMIN_DEFAULT_PASSWORD}  # Pass from shell
    volumes:
      - jwt_secret_volume:/run/secrets
    restart: always
  mongodb:
    image: mongo
    container_name: vex-mongodb
    restart: always
    volumes:
      - vex-mongodb-data:/data/db

volumes:
  vex-mongodb-data:
  jwt_secret_volume: